{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <title>SIEE - Encontre Estagios</title>
</head>
<body>
<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">Jaca Software</a>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center light-blue-text">Projeto SIEE</h1>
            <div class="row center">
                <h5 class="header col s12 light">Projeto realizado pela empresa JacaSoftware </h5>
            </div>

            <div class="row center">
                <a href="{% url 'login_institution' %}" class="btn-large waves-effect waves-light light-blue darken-4">Acessar</a>
            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="../static/img/background1.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center black-text"><i class="material-icons">assignment</i></h2>
                    <h5 class="center">Curriculo online</h5>

                    <p class="light"><b>Cadastre seus dados e gere seu curriculo online com mais facilidade, disponibilizamos seu PDF.</b></p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center back-text"><i class="material-icons">assignment_ind</i></h2>
                    <h5 class="center">Crie seus Perfis Online</h5>
                    <p class="light"><b>Com os perfis online voce pode gerenciar um curriculo online, onde com apenas um clique você envia para qualquer empresa.</b></p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center black-text"><i class="material-icons">assignment_late</i></h2>
                    <h5 class="center">Uma maneira fácil e rapida</h5>

                    <p class="light"><b>Cansou de procurar por vagas de trabalho na internet, aqui voce encontrar.  Nunca foi tão facil encontrar uma vaga de emprego.</b></p>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">Faça suas buscar em seu proprio computador</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="../static/img/background2.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>Sobre o Projeto</h4>
                <p class="left-align light"><b>O projeto tem como objetivo automatizar um setor do IFPI, no qual o SIEE foi o escolhido. O foco foi automatizar o processo de divulgação de estagios, ja que
                    muitos alunos passam por dificuldade na hora de encontrar um em sua area de atuação;</b></p>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">Envie seu curriculo para empresas com apenas um clique</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="../static/img/background5.jpg" alt="Unsplashed background img 3"></div>
</div>
<footer class="page-footer teal white">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="black-text">Missão do Projeto</h5>
                <p class="grey-text black-text">Projeto desenvolvido para automatizar o processo de divulgação de estagios, como o intuito de passar na materia de OSM.</p>


            </div>
            <div class="col l3 s12">
                <h5 class="black-text">Alunos Envolvidos</h5>
                <ul>
                    <li><a class="black-text" target="_blank" href="#">Kássio Lucas</a></li>
                    <li><a class="black-text" target="_blank" href="#!">Sywrah Gabriela</a></li>
                    <li><a class="black-text" target="_blank" href="!">Fabiano de Santana</a></li>
                    <li><a class="black-text" target="_blank" href="#!">Pablo Henrique</a></li>
                    <li><a class="black-text" target="_blank" href="#!">Jefferson Luis</a></li>
                    <li><a class="black-text" target="_blank" href="#!">Francisco Roberth</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="black-text">Contatos</h5>
                <ul>
                    <li><a class="black-text" href="#!">kassioleodido@gmail.com</a></li>
                    <li><a class="black-text" href="#!">sywrahgabriella@gmail.com</a></li>
                    <li><a class="black-text" href="#!">##</a></li>
                    <li><a class="black-text" href="#!">##</a></li>
                    <li><a class="black-text" href="#!">##</a></li>
                    <li><a class="black-text" href="#!">##</a></li>
                </ul>
            </div>
        </div>d
    </div>
    <div class="footer-copyright">
        <div class="container">

        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{% static 'js/init.js' %}"></script>
<script src="{% static 'js/materialize.js' %}"></script>
<script>
    $(document).ready(function(){
      $('.parallax').parallax();
    });
</script>
</body>
</html>