{% extends "base_institution.html" %}
{% block base_institution %}
<br><br>
<div class="container" align="center">
    <h4>Vagas Divulgadas Recentemente</h4>
    <br>
    <table class="striped">
        <thead>
        <tr>
            <th>Curso</th>
            <th>Empresa</th>
            <th>Nº Vagas</th>
            <th>Tipo de Vaga</th>
            <th>Data de Inicio</th>
        </tr>
        </thead>

        <tbody>
        {% for vaga in vagas %}
        <tr>
            <td>{{vaga.curso_vaga}}</td>
            <td>{{vaga.empresa_vaga}}</td>
            <td>{{vaga.quantidade}}</td>
            <td>{{vaga.tipo_vaga}}</td>
            <td>{{vaga.data_inicio}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<br><br>
{% endblock %}