{%extends "base_login.html"%}
{%block base %}

<div id="index-banner" class="parallax-container2">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="container">
                <div class="card">
                    <div class="card-content">
                        <form class="form-horizontal" method="POST">
                            <h5>Registre-se antes de usar</h5><br>
                            <fieldset>
                                {% csrf_token %}
                                {{ form_register_user }}
                                <button type="submit" name="_submit" class="btn">Registrar</button><br><br>
                            </fieldset>
                            <br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="../static/img/background1.jpg" alt="Unsplashed background img 1"></div>
</div>

{%endblock%}