{% extends "base_student.html" %}
{% block base_student %}

<div id="index-banner" class="parallax-container2">
    <div class="section no-pad-bot">
        <div class="container" align="center">
            <div class="card">
                <div class="card-content">
                    <form class="form-horizontal" method="POST">
                        <h5>Meu Curriculo</h5><br>
                        <fieldset>
                            {% csrf_token %}
                            {{ form_register_my_curriculum }}
                            {% if request.user.user_curriculo %}
                            <button type="submit" name="_submit" class="btn">Atualizar</button><br><br>
                            {% else %}
                            <button type="submit" name="_submit" class="btn">Registrar</button><br><br>
                            {% endif %}
                        </fieldset>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="/static/img/background3.jpg" alt="Unsplashed background img 1"></div>
</div>


{% endblock %}