{% extends "base_student.html" %}
{% block base_student %}
<br><br>

<div class="container">
    <div class="row">
        {% for vaga in vagas %}
        <div class="col s4">
            <div class="card light-blue darken-4">
                <div class="card-content white-text">
                    <span class="card-title">{{ vaga.cargo }}</span>
                    <p>{{ vaga.atividades }}.</p>
                    <p>Area de Atuação:  {{ vaga.area_atuacao }}.</p>
                </div>
                <div class="card-action">
                    <a href="{% url 'detail_vacancy' vaga.id %}">Detalhar Vaga</a>
                    <a href="#">Enviar Email</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}