{% extends "base_user.html" %}
{% block base_institution %}

<div class="container" align="center">
    <form class="form-horizontal" method="POST">
        {% csrf_token %}
        <div class="container" align="center">
            <div class="card"><div class="card-content">
                <h5>Cadastrar Cursos no Sistema</h5>
                <fieldset>
                    {{ form_register_course }}
                    <button type="submit" name="_submit" class="btn">Registrar</button><br><br>
                </fieldset>
            </div>
            </div>
        </div>
        <br>
    </form>
</div>

{% endblock %}